@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: 'S-CoreDream-5Medium';
    font-weight: 500;
    src:local(※), url(../fonts/S-CoreDream-5Medium.woff) format('woff');
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    font-weight: 600;
    src:local(※), url(../fonts/S-CoreDream-6Bold.woff) format('woff');
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    font-weight: 700;
    src:local(※), url(../fonts/S-CoreDream-7ExtraBold.woff) format('woff');
}